@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    width: 100% !important;
}


#navbar-container {
    width: 100% !important;
}

#navbar-brand {
    font-size: 1.75rem !important;
    font-weight: 700;
    font-style: italic;
}

#navbar-brand:hover {
    opacity: 0.6 !important;
    transition: 0.3s ease-in;
}

.carousel-inner img {
    max-height: 100vh;
    width: 100%;
}

.carousel-inner h5 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.about {
    padding: 2.0rem 0;
    width: 100%;
}

.about h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.about h2 {
    padding: 2rem 1rem;
}

.about p {
    padding: 0 1rem;
}

.about_addition {
    overflow: hidden;
}

.about_addition h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.services {
    width: 100%;
    padding: 2rem 0;
}

.services h1 {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.services img {
    height: 27rem;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: 1s ease-in-out;
    filter: grayscale(95%);
}


.services img:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.services p {
    display: flex;
    justify-content: center;
}

.webdesign {
    padding: 2rem 0;
    width: 100%;
}

.webdesign img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 50vh;
}

.webdesign .container {
    padding: 1rem 2rem;
    display: flex;
}

.webdesign h2 {
    display: flex;
    align-items: center;
}

.separation {
    height: 10vh;
}

.mb-4 {
    width: 100%;
    overflow: hidden;
    padding: 3rem 0;
}

.mb-4 .container {
    padding: 2rem 0;
}

.mb-4 h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 2.5rem 0;
}

.mb-4 p {
    width: 100%;
    padding: 1rem 0;
}

.col-md-6 {
    padding: 1rem 0.5rem;
}

.col-md-12 {
    padding: 1rem 0.5rem;
}

@media (max-width: 760px) {
    .services .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .services .card {
        margin: 1rem 0;
    }  
}

@media (max-width: 460px) {
    #navbar-brand {
        font-size: 1.2rem !important;
    }
    .webdesign h2 {
        font-size: 1rem;
        padding: 0;
    }

    .webdesign p {
        font-size: 0.7rem;
    }

    .col-md-6, .col-md-12 {
        padding: 0 1rem;
    }

    #navbar {
        width: 100%;
    }

    #offcanvasDarkNavbarLabel {
        font-size: 1rem !important;
    }

    #offcanvasDarkNavbar {
        width: 100% !important;
    }
}

@media (max-width: 325px) {
    #navbar {
        width: 100% !important;
        padding: 0 !important;
    }

    #navbar-brand {
        font-size: 1rem !important;
    }

    #navbar-container {
        width: 100% !important;
        padding: 0 !important;
    }

    .navbar-toggler-icon {
        font-size: 1rem;
        padding: 0;
    }

    #offcanvasDarkNavbarLabel {
        font-size: 1rem !important;
    }

    .nav-item {
        width: 100%;
        font-size: 1rem;
    }

    .offcanvas-body {
        width: 95% !important;
        padding: 0 !important;
    }

    .navbar-nav {
        width: 100%;
        padding: 0 !important;
    }
    .services .card {
        width: 100% !important;
    }

    .services img {
        width: 100% !important;
    }
}

@media (max-width: 285px) {
    .services .card {
        width: 100% !important;
    }

    .services img {
        width: 100% !important;
    }
}

@media (max-width: 570px) {
    .col-md-6, .col-md-12 {
        padding: 0 1rem;
    }
}